.noticiasContainer {
    background-color: black;
    padding: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.noticiasContainer a {
    text-decoration: none;
    color: aliceblue;
}

.cardNoticia {
   background: url("https://i.pinimg.com/564x/47/0f/50/470f506c8863c47a52ebc00b3bcdbc8e.jpg");
    width: 350px;
    border-radius: 10px;
}

.cardNoticia img {
    width: 100%;
    padding: 5px;
}

.cardNoticia h3 {
    text-align: center;
    font-size: 20px;
    color: rgb(134, 134, 84);
    background-color: rgba(0, 0, 0, 0.761);
    margin: 0px 4px;
}

.cardNoticia p {
    padding: 10px;
    text-align: justify;
    font-size: 18px;
    margin: 0%;
}

@media (min-width: 970px) and (max-width: 1250px) {

}

@media (min-width: 750px) and (max-width: 970px) {
.noticiasContainer {
    padding: 10px;
}
}

@media (width <=749px) {
.noticiasContainer {
    justify-content: center;
}

.cardNoticia p {
    font-size: 15px;
}
}