.crimeflixSection {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
padding: 5%;
}

.crimeflixSection iframe {
    width: 100%;
    height: 600px;
}

.crimeflixSection img {
    width: 30%;
}