.tituloContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 15px 0;

}

.tituloContainer h3 {
    font-family: "Bebas Neue";
    font-weight: 300;
    font-style: normal;
    color: whitesmoke;
    font-size: 55px;
    padding-left: 30px;
    letter-spacing: 5px;
    text-align: center;
    padding: 15px 150px;
    text-shadow: whitesmoke 0px 0px 25px;
    margin-top: 30px;
}


@media (min-width: 970px) and (max-width: 1250px) {

}

@media (min-width: 750px) and (max-width: 970px) {
    .tituloContainer h3 {
        font-size: 32px;
     }
}

@media (width <=749px) {
 .tituloContainer h3 {
    font-size: 35px;
    padding: 0%;
 }
}