.OrganizacionPageContainer {
    background-color: black;
}

.bannerORg {
    display: grid;
    grid-template-columns: 50% 50%;
}

.bannerORg h2{
display: none;
visibility: hidden;
}

.logoORg img {
    padding: 30px;
    width: 100%;
}

.mapaOrg img {
    width: 100%;
    padding: 0px 30px 0px 0px;
}

.infOrg p {
    color: aliceblue;
    text-align: justify;
    padding: 30px;
    columns: 3;
    gap: 50px;
    font-size: large;
    margin: 0%;
}

.organigramaContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.organigramaContainer h3 {
    font-family: "Bebas Neue";
    font-weight: 400;
    font-style: normal;
    color: whitesmoke;
    font-size: 60px;
    padding-left: 30px;
    letter-spacing: 5px;
    width: 100%;
    text-align: center;
}

.containerCelulas h3 {
    text-align: center;
    color: aliceblue;
}

.containerCelulas img {
    width: 100%;
}

.cedulaCardsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

@media (min-width: 970px) and (max-width: 1250px) {
    .infOrg p{
        columns: 2;
        line-height: inherit;
    }
}

@media (min-width: 750px) and (max-width: 970px) {
    .mapaOrg img {
        padding: 5%;
    }

    .infOrg p{
        columns: 1;
        line-height: inherit;
        padding: 0% 5%;
        margin-bottom: 20px;
    }

    .organigramaContainer h3 {
        padding: 0%;
        font-size: 50px;
    }
}

@media (width <=749px) {
    .bannerORg {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .bannerORg h2 {
        display: block;
        visibility: visible;
        text-align: center;
        font-family: "Bebas Neue";
        font-weight: 400;
        font-style: normal;
        width: 100%;
        letter-spacing: 5px;
        color: whitesmoke;
        text-shadow: 2px 2px 2px red;
        margin: 0%;
        margin-bottom: 30px;
        font-size: 40px;
    }

    .logoORg {
        display: none;
        visibility: hidden;
    }

    .infOrg p{
        columns: 1;
        line-height: inherit;
        padding: 0% 10%;
        margin-bottom: 20px;
        font-size: medium;
        word-spacing: -3px;
        word-break: break-word;
    }

    .organigramaContainer h3 {
        padding: 0%;
        font-size: 50px;
    }
}