.noticiaPageContainer {
    background: url("https://i.pinimg.com/564x/37/8a/8c/378a8c6dbab958d25a09acac806546ec.jpg");
    padding: 2% 2%;
}

.backGroundNoticia {
    background-color: rgba(0, 0, 0, 0.561);
    border-radius: 10px;
    padding: 10px 20px;
}

.noticiaPageContainer h3 {
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    text-shadow: 1px 1px red;
}

.noticiaPageContainer p {
    text-align: justify;
    color: gainsboro;
    font-size: 18px;
}

.noticiaPageContainer h5 {
    color: rgb(173, 62, 62);
}

.imagenUno {
    width:400px;
    height:400px;
    float: right;
    margin: 15px 0px 15px 15px;
    border-radius: 10px;
    aspect-ratio: 16/9;
    object-fit: contain;
}

.imagenDos {
    width:400px;
    height:400px;
    float: left;
    margin: 15px 15px 15px 0px;
    border-radius: 10px;
    aspect-ratio: 16/9;
    object-fit: contain;
}

.bibliografia h4 {
    font-size: 15px;
    color: brown;
}

.bibliografia p {
font-size: 12px;
color: gainsboro;
}

.datosDeElaboracion {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.fecha {
    justify-items: end;
}

@media (min-width: 970px) and (max-width: 1250px) {
    .noticiaPageContainer p{
        font-size: 15px;
    }
    }
    
    @media (min-width: 750px) and (max-width: 970px) {
        .noticiaPageContainer h3 {
            font-size: 22px;
        }

        .noticiaPageContainer p{
            font-size: 15px;
        }

        .noticiaPageContainer h5 {
            font-size: 17px;
        }

        .imagenUno,
        .imagenDos {
            width: 300px;
            height: 300px;
        }
    
    }
    
    @media (width <=749px) {
 
        .noticiaPageContainer h3 {
            font-size: 19px;
            padding: 0%;
            text-align: center;
        }

        .noticiaPageContainer p{
            font-size: 15px;
            word-break: break-word;
            padding: 0px 5px;
        }

        .noticiaPageContainer h5 {
            font-size: 18px;
            text-align: center;
        }

        .imagenUno,
        .imagenDos {
            width: 100%;
            height: 100%;
        }
    }