.footerContainer {
    background: repeating-linear-gradient(black, rgba(41, 40, 40, 0.862));
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 40% 30% 30%;
}



.footerContainer div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.DirectorioPortales {
    display: flex;
    flex-wrap: wrap;
}


.DirectorioPortales a,
.privacidad a {
    width: 100%;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    color: aliceblue;
}

.DirectorioPortales p,
.privacidad p {
    font-size: 15px;
    letter-spacing: 2px;
    font-family: "Bebas Neue";
  font-weight: 400;
  font-style: normal;
}


.redes {
    display: flex;
    gap: 40px;
}

.instagram {
    color: lightsalmon;
    font-size: 40px;
}

.tiktok {
    color: ghostwhite;
    font-size: 40px;
}

.youtube {
    color: red;
    font-size: 40px;
}

.avisoLegal {
    width: 100%;
    font-size: 15px;
    color: aliceblue;
    text-align: justify;
    padding: 0px 50px;
    font-family: "Bebas Neue";
  font-weight: 100;
  font-style: normal;
  letter-spacing: 2px;
}

.avisoLegal em,
.icono {
    color: red;
}

@media (min-width: 701px) and (max-width: 970px) {
    .footerContainer {
        grid-template-columns: 35% 30% 35%;
    }

    .footerContainer {
        padding: 0%;
    }

    .avisoLegal {
        padding: 0px 10px;
        font-size: 12px;
    }
}

@media (width <=700px) {
    .footerContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .DirectorioPortales,
    .privacidad {
        width: 100%;
    }

    .DirectorioPortales p,
    .privacidad p {
        font-size: 20px;
        letter-spacing: 2px;
    }

    .avisoLegal {
        padding: 0px 10px;
    }

    .avisoLegal p {
        word-break: break-word;
        word-spacing: -4px;
    }


}