.HomePageContainer {
    background-color: black;
}

.HomePageContainer section {
    padding-top: 2%;
}

.BannerHomePage {
    background-color: black;
    color: gainsboro;
    display: grid;
    grid-template-columns: 50% 50%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.descripcion {
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-size: 20px;
    line-height: 35px;
}

.descripcion em {
    font-weight: bolder;
}

.logo img {
    width: 100%;
}

.HomePageContainer h2 {
    font-family: "Bebas Neue";
    font-weight: 300;
    font-style: normal;
    color: whitesmoke;
    font-size: 35px;
    padding-left: 30px;
    letter-spacing: 5px;
    text-align: center;
    padding: 15px 150px;
    text-shadow: whitesmoke 0px 0px 25px;
}

.HomePageContainer p {
    color: gainsboro;
    padding: 0px 5%;
    font-size: 18px;
    text-align: justify;
}


@media (min-width: 970px) and (max-width: 1250px) {
    .BannerHomePage {
        grid-template-columns: 60% 40%;
    }

    .descripcion {
        padding: 0px 0px 0px 50px;
        font-size: 15px;
    }

    .TituloHome h1 {
        font-size: 37px;
    }
}

@media (min-width: 701px) and (max-width: 970px) {
    .BannerHomePage {
        grid-template-columns: 60% 40%;
    }

    .BannerHomePage p {
        font-size: 14px;
        padding: 0%;
    }

    .descripcion {
        padding: 0px 0px 0px 50px;
        font-size: 15px;
        line-height: inherit;
    }

    .HomePageContainer h2 {
        font-size: 32px;
        padding: 15px 0px;
    }
}

@media (width <=700px) {
    .HomePageContainer p {
        padding: 0% 10%;
        font-size: 17px;
    }

    .BannerHomePage {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .descripcion {
        padding: 0% 10%;
        font-size: 18px;
        line-height: inherit;
    }

    .descripcion p {
        word-break: break-word;
        word-spacing: -3px;
        font-size: 17px;
        padding: 0%;
    }

    .HomePageContainer h2 {
        font-size: 25px;
        letter-spacing: 2px;
        padding: 15px;
    }
}